// Homepage styles

.index {

  // background-image: url("/images/background_new.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;

  @media screen and (max-width: $mobile) {
    background-size: cover;
    background-position-x: 62%;
  }

  .container,
  .navbar-container {

    grid-template-columns: 100%;
    max-width: 1110px;

  }

  .list-unstyled {

    li {

      margin-bottom: 8px;

      @media screen and (max-width: $mobile) {
        margin-bottom: 12px;
      }
    }

    a {

      padding: 4px;

      @media screen and (max-width: $mobile) {
        padding: 6px 4px;
      }
    }
  }

  header {

    grid-column: 1 / 2;
  }

  .articles {

    grid-column: 1 / 2;
  }

  h1 {

    font-size: 4rem;
    margin: 2rem 0;
    line-height: 1.1;
    // background-color: #ffefc1;

    @media screen and (max-width: $mobile) {

      font-size: 3rem;
      margin-top: 0;
    }
  }

  a {

    color: $black;
    background-color: $peach;
    text-decoration: underline;

    &:hover {

      color: white;
      background-color: $purple;
    }

  }

  .list-featured {

    font-size: 1.2rem;
    margin-bottom: 2rem;
    @extend .list-inline;

    li {

      width: 32%;

      @media screen and (max-width: $mobile) {

          display: block;
          width: 100%;

      }

      &::after {

        content: "";
        border-bottom: 5px dashed;
        display: block;
        width: 3rem;
        margin-bottom: 1rem;
        margin-top: 0.3rem;

      }
    }
  }
}
