@import 'variables';

$blockquote-bg: #ffd660;
$weeknotes-bg: #fffbf0;
$brand-bg: #ffefc1;

.weeknotes {


  font-family: 'Overpass', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  .container,
  .navbar-container {

    grid-template-columns: 100%;
    max-width: 650px;
  }

  .subtitle {

    display: inherit;
    font-size: 60%;
    font-weight: 400;
  }

  .dl_element {

    display: block;
    border-bottom: 1px solid #b4b5b0;
    padding: 8px 0 0 0;

    dd {

      display: inline-block;
    }

    dt {

      display: inline-block;
      min-width: 30%;
      @media screen and (max-width: $mobile) {
        min-width: 30%;
      }
    }
  }


  a {

    color: #050dea;
    text-decoration: underline;

    &:hover {

      background-color: darken($body-bg, 8%);
    }
  }

  .navbar {

    background-color: $body-bg;
    // border-bottom: 4px double;

  }

  .navbar-container {

    a {

      background-color: $peach;
      color: $black;
      padding: 0 4px;

      &:hover {

        text-decoration: none;
      }

      @media screen and (max-width: $mobile) {
        padding: 2px 4px;
      }
    }
  }

  .hero {

    // background-color: $brand-bg;
    color: $black;
    padding: 2rem 0 .5rem 0;
    // background-image: url(/images/background.svg);
    // background-size: contain;

    h1 {

      font-size: 2.5em;
    }

    @media screen and (max-width: $mobile) {

      padding: .75rem 0;
      // font-size: 1.5em;
    }

  }


  figcaption {

    padding: .6rem;
  }

  figure {

    background-color: $brand-bg;

    #canalside {

      background-color: #33460b;
      color: $white;
    }

    #silence-game {

      background-color: #121018;
      color: $white;

    }
  }

  .right {
    float: right;
    width: 50%;

    img {
      height: auto;
      width: 100%;
    }
  }

  .half {

    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .noir {

    background-color: $black;
    color: $white;
  }

  .nhs-number-format {

    font-weight: 800;
    font-size: 1.5rem;
    font-family: monospace;

    span {
      color: $white;
      background-color: $black;
      padding: 0 2px;
      margin-left: 1px;
    }
  }

  .question {

      margin: 0 0 1rem 1rem;
      padding-left: 1rem;
      border-left: 5px solid currentColor;
  }

}

.design-research {


  background-color: lighten($peach, 18%);

  .navbar {

    background-color: $peach;

  }

  .hero {

    background-color: $peach;

  }

  a {

    color: #a50800;
    text-decoration: underline;

    &:hover {

      color: white;
      background-color: #a50800;
    }
  }


}
