@import 'variables';

$blockquote-bg: #dbffdc;
$weeknotes-bg:  #f3fff6;
$brand-bg: #c1ffd2;

.weeknotes {

  background-color: $weeknotes-bg;
  font-family: 'Overpass', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;

  .container,
  .navbar-container {

    grid-template-columns: 100%;
    max-width: 650px;
  }


  a {

    color: #a50800;
    text-decoration: underline;

    &:hover {

      background-color: $brand-bg;
    }
  }

  .navbar {

    background-color: $brand-bg;

  }

  .navbar-container {

    a {

      background-color: $black;
      color: $white;
      padding: 0 4px;

      &:hover {

        text-decoration: none;
      }

      @media screen and (max-width: $mobile) {
        padding: 2px 4px;
      }
    }
  }

  .hero {

    background-color: $brand-bg;
    color: $black;
    padding: .5rem;

  }

  blockquote {

    background-color: $blockquote-bg;
    border: .1rem solid darken($blockquote-bg , 55%);
  }

  figcaption {

    padding: .6rem;
  }

  figure {

    background-color: $brand-bg;

    #canalside {

      background-color: #33460b;
      color: $white;
    }

    #silence-game {

      background-color: #121018;
      color: $white;

    }
  }

  .right {
    float: right;
    width: 50%;

    img {
      height: auto;
      width: 100%;
    }
  }

  .half {

    display: grid;
    grid-column-gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }

  .noir {

    background-color: $black;
    color: $white;
  }

  .nhs-number-format {

    font-weight: 800;
    font-size: 1.5rem;
    font-family: monospace;

    span {
      color: $white;
      background-color: $black;
      padding: 0 2px;
      margin-left: 1px;
    }
  }

}
