---
title: Hypothesis driven design
date: 2017-12-10 12:10 UTC
tags: Interaction Design, Design, Agile
published: true
---
- content_for :twitter do
  %meta{:content => "summary", :name => "twitter:card"}/
  %meta{:content => "@AndrewDuck_", :name => "twitter:site"}/
  %meta{:content => "@AndrewDuck_", :name => "twitter:creator"}/
  %meta{:content => "https://grillopress.github.io/2017/12/10/hypothesis-driven-design.html", :property => "og:url"}/
  %meta{:content => "Hypothesis driven design", :property => "og:title"}/
  %meta{:content => "Writing design hypotheses isn't always pleasurable. It can be tough to get them exactly right. But they make you a better designer.", :property => "og:description"}/
  %meta{:content => "https://grillopress.github.io/images/background.png", :property => "og:image"}/

- content_for :css do
  = stylesheet_link_tag 'hypothesis-driven-design'

%p In the team I work in, we have adopted a formal way of doing "Hypothesis Driven Design".

%p Hypothesis driven design is where you design solutions and test them with your users. Advancing your understanding and business solution though each design.

%p Hypothesis driven design isn't new. It is having an idea and testing it.

%p Many designers work in a hypothesis driven way but don't write their ideas down. This implicit way of coming up with an idea and then testing it is less than ideal.

%p A hunch or a gut feel is a great start. But it isn't a repeatable, sharable method.

%h2 Hypothesis as the articulation of intent

%p Hypotheses can be big or small. They are statements that can cover things like changing the colour of a button. Or a wider user need or story.

%p A hypothesis is a statement. A statement of your current understanding and what change you expect to see. A hypothesis is an articulation of your intent.

%p A written hypothesis exists to communicate your thinking. As well as letting you and others test your thinking. To verify it.

%p If we expect a certain user outcome if we change our button, is this the best way to do that? If we expect a certain outcome, did that happen when we tested it?

%p A good hypothesis is testable and verifiable. It can be true or false. A written hypothesis lets others see, test and verify your thinking.

%p In the team I work in, we write our hypotheses using a formal language. We use:

%ul.list-unstyled.list-hypothesis-statement
  %li [Context]
  %li If [some action]
  %li Then [outcome for users]
  %li Because [reason for outcome]

%p The context let's us frame why we are trying to solve a particular problem. We found this made writing easier. It also made them easier to understand when we returned to them.

%p Your context could come from data. A hunch. A user lab. Other people. Or a mixture.

%p An example could be:

%p 'In lab 5 users struggled to navigate between pages. No user used the native browser back button. The researcher had to intervene to return to the homepage".

%p The rest of the statement frames what we are going to do, what impact that'll have on the user and why.

%p One line suffices for each.

%p Writing these statements surfaces your reasoning behind your design decisions. It makes you a better designer. It acts as documentation. It helps you communicate the intent behind your design.

%h2 Where our statements live

%p We use a Kanban board to track our design work. We write our hypotheses as our design work matures.

%p We then attach the hypothesis statements as comments to our cards in Jira.

%p Before any design artefact is given to a developer or tested, it must have a hypothesis attached to it.

%p When we review our design work, we review the hypothesis.

%p The prototypes we build are a collection of hypotheses. Some proven, some not. When we test our prototype with users, we see if our expectations are true or not.

%p Sometimes our hypotheses miss the mark. This can be because our design wasn't clear enough in rendering our intent. Or because our intent doesn't match what our users want or need.

%h2 The benefits of using hypothesis driven design

%p Hypothesis driven design is a process that generates easy to understand documentation. A log of your design thinking and decisions.

%p Writing design hypotheses isn't always pleasurable. It can be tough to get them exactly right. But they make you a better designer.

%p The act of articulating your design choice further refines your design. And your skills as a designer.

%p By using a hypothesis driven design process you:

%ol.list-benefits-of-hypothesis-driven-design
  %li Articulate your thinking
  %li Provide others with understanding of your thinking
  %li Create a framework to test your designs against
  %li Develop a standard way of documenting your work
  %li Make better stuff

%h2 Other people's things on hypothesis driven design

%ul
  %li
    %a{:href => "https://medium.com/@melhambo/use-a-hypothesis-backlog-to-capture-and-refine-your-problems-6ed0c4d499a2"} Using a hypothesis backlog (Kanban board)
  %li
    %a{:href => "https://medium.com/leading-service-design/everything-is-hypothesis-driven-design-1986a4638285"} Everything is hypothesis driven design
