---
layout: course
---
%main{:role => "main"}
  %section.hero
    %article.container-ux
      %div
        %h1 Learn Interaction Design
        %p Master the fundamentals of interaction design

  %section.container-twos
    %article
      %h2 Design process
      %p Lorem ipsum...
      %ul.list-unstyled
        %li
          Double diamond
          %span.coming-soon (Coming soon)

    %article
      %h2 User needs
      %p Learn how to discover and target unmet user needs
      %ul.list-unstyled
        %li
          = link_to "Personas", "2018-04-15-personas"
        %li
          Marketing analysis
          %span.coming-soon (Coming soon)

    %article
      %h2 Prototyping
      %p Lorem ipsum...
      %ul.list-unstyled
        %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.

    %article
      %h2 Design principles
      %p Lorem ipsum...
      %ul.list-unstyled
        %li Lorem ipsum dolor sit amet, consectetur adipisicing elit.
